*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/out.terraform
*/mykey*
terraform.tfvars
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

**/.idea
**/*.iml

**/.build-harness
**/build-harness
*/tfplan
*/tfplan.txt

# .tfvars files
*.tfvars
*.pem

#Two consecutive asterisks ("**") in patterns matched against full pathname may have special meaning:
# A leading "**" followed by a slash means match in all directories.