*/terraform.tfvars
*/terraform.tfstate
*/terraform.tfstate.backup
*/.terraform
*/out.terraform
*/mykey*
terraform.tfvars
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

**/.idea
**/*.iml

**/.build-harness
**/build-harness
